<div class= "d-flex justify-content-center d-flex align-items-center" >
  <form action="/answer" data-turbo="false" method= "get">
    <input type="text" name="user_input" placeholder="Ask your question please.">
    <input type="submit" value="Ask!">
  </form>
</div>
